body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
.banner{
	background:url('../image/overlay.png'),url('../image/ImageOne.jpg');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}


.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}